body {
}

.header {
    background-color: #ffffff;
    border-bottom: 5px solid black;
    padding-top: 5px;
    position: fixed;
    z-index: 1;
    width: 80%;
    top: 0;
}

.content {
    margin-top: 50px;
}

.contentL {
    padding-left: 5px;
    padding-right: 5px;
}

.contentR {
    background-color: #ffffff;
    border-left: 5px solid black;
    right: 0;
    position: fixed;
    z-index: 1;
    width: 80%;
    right: 0;
}