body {
    margin-left: auto;
    margin-right: auto;
}

/*切割畫面*/
.header {
    background-color: #ffffff;
    border-bottom: 5px solid black;
    padding-top: 5px;
    position: fixed;
    z-index: 1;
    width: 80%;
    top: 0;
}

.content {
    margin-top: 60px;
}

.contentL {
    position: absolute;
    padding-right: 5px;
    padding-left: 5px;
    overflow-y: auto;
}

.contentR {
    background-color: #ffffff;
    border-left: 5px solid black;
    padding-left: 30px;
    position: fixed;
    z-index: 1;
    width: 80%;
    height: 90%;
    right: 0;
}

/*字形顏色*/
.fontBlack {
    color: black;
}

.fontGray {
    color: #808080;
}

.fontBlue {
    color: #0094ff;
}